services:
  trackerdb:
    build:
      context: ./Dockerfiles/db
    image: emacodes/trackerdb:latest
    container_name: trackerdb
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend  

  trackerapp:
    build:
      context: .
      dockerfile: Dockerfiles/app/Dockerfile
    image: emacodes/trackerapp:latest
    container_name: trackerapp
    restart: always
    env_file:
      - .env
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    ports:
      - "3000:3000"
    depends_on:
      - trackerdb
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
    driver: bridge
